@tailwind base;
@tailwind components;
@tailwind utilities;
/* google font  */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
  font-family: "JetBrains Mono", system-ui;
}
body{
  font-family: "JetBrains Mono", system-ui;
}

/* // tip tap style default for tailwind  */

.tiptap-style > h1{
  font-size: 1.5em;
}
.tiptap-style > h2{
  font-size: 1.4em;
}
.tiptap-style > ul{
  list-style-type: disc;
  padding-left: 30px;
}
.tiptap-style ul > li{
  display: list-item;
}
.tiptap-style > ol{
  list-style-type: decimal;
  padding-left: 40px;
}
.tiptap-style ol > li{
  display: list-item;
}
.tiptap-style > blockquote {
    padding: 2px 8px;
    margin: 5px 0px;
    font-style: italic;
    font-size: 18px;
    color: #555;
    background-color: #f9f9f9; /* Light background */
    border-left: 4px solid #ff8225; /* Colored left border */
    border-radius: 4px; /* Optional: rounded corners */
}

/* // tip tap style default for tailwind  */


.scrollbar-custom {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ff83257c #edf2f7; /* Thumb and track colors for Firefox */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #edf2f7; /* Track color */
  border-radius: 8px; /* Optional: rounded corners */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Thumb color */
  border-radius: 8px; /* Rounded corners for the thumb */
  border: 2px solid #edf2f7; /* Optional: border around thumb */
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  aspect-ratio: 1;
  color: tomato;
  background:
    linear-gradient(currentColor 0 0) 100%  0,
    linear-gradient(currentColor 0 0) 0  100%;
  background-size: 50.1% 50.1%;
  background-repeat: no-repeat;
  animation:  l7-0 1s infinite steps(1);
}
.loader::before,
.loader::after {
  content:"";
  position: absolute;
  inset: 0 50% 50% 0;
  background: currentColor;
  transform: scale(var(--s,1)) perspective(150px) rotateY(0deg);
  transform-origin: bottom right; 
  animation: l7-1 .5s infinite linear alternate;
}
.loader::after {
  --s:-1,-1;
}
@keyframes l7-0 {
  0%  {transform: scaleX(1)  rotate(0deg)}
  50% {transform: scaleX(-1) rotate(-90deg)}
}
@keyframes l7-1 {
  49.99% {transform:scale(var(--s,1)) perspective(150px) rotateX(-90deg) ;filter:grayscale(0)}
  50%    {transform:scale(var(--s,1)) perspective(150px) rotateX(-90deg) ;filter:grayscale(0.8)}
  100%   {transform:scale(var(--s,1)) perspective(150px) rotateX(-180deg);filter:grayscale(0.8)}
}
