@tailwind base;
@tailwind components;
@tailwind utilities;
/* google font  */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
  font-family: "JetBrains Mono", system-ui;
}
body{
  font-family: "JetBrains Mono", system-ui;
}


/* Add custom scrollbar styles */
.scrollbar-thumb-rounded {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #FF8225 #edf2f7; /* Thumb color and track color */
}

.scrollbar-thumb-rounded::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

.scrollbar-thumb-rounded::-webkit-scrollbar-track {
  background: #edf2f7; /* Track color */
  border-radius: 2px; /* Rounded corners for the track */
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Thumb color */
  border-radius: 5px; /* Rounded corners for the thumb */
  border: 2px solid #edf2f7; /* Optional: add border for thumb */
}
