@tailwind base;
@tailwind components;
@tailwind utilities;
/* google font  */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
  font-family: "JetBrains Mono", system-ui;
}
body{
  font-family: "JetBrains Mono", system-ui;
}


.scrollbar-custom {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ff83257c #edf2f7; /* Thumb and track colors for Firefox */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #edf2f7; /* Track color */
  border-radius: 8px; /* Optional: rounded corners */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Thumb color */
  border-radius: 8px; /* Rounded corners for the thumb */
  border: 2px solid #edf2f7; /* Optional: border around thumb */
}